/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}

.containermem {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.rectanglemem {
    position: absolute;
    box-sizing: border-box;
    border: 5px solid #A2B59F;
    border-radius: 45px;  
}

.rectangle-3mem {
    width: 25%;
    height: 65%;
    left: 83px;
    top: 85px;
    background: #FFFFFF;
}

.rectangle-4mem {
    width: 25%;
    height: 65%;
    left: 538px;
    top: 85px;
    background: #FFFFFF;
}

.rectangle-5mem {
    width: 25%;
    height: 65%;
    left: 994px;
    top: 85px;
    background: #FFFFFF;
}

.rectangle-8mem {
    width: 316px;
    height: 63px;
    left: 107px;
    top: 668px;
    background: #BFC8D7;
}

.rectangle-9mem {
    width: 316px;
    height: 63px;
    left: 563px;
    top: 668px;
    background: #E2D2D2;
}

.rectangle-10mem {
    width: 316px;
    height: 63px;
    left: 1017px;
    top: 668px;
    background: #BFC8D7;
}

.namemem {

position: absolute;
width: 197px;
height: 102px;
left: 166px;
top: 598px;

font-family: 'Piazzolla';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 51px;
text-align: center;

color: #000000;

}

.image-1mem {
    position: absolute;
    width: 280px;
    height: 280px;
    left: 125px;
    top: 117px;
    background: url(../../public/logo/preechaya.jpg);
    background-size: cover;
}

.line-1mem {
    position: absolute;
    width: 300px;
    height: 0px;
    left: 115px;
    top: 417px;
    border: 3px solid #A2B59F;
}

.image-2mem {
    position: absolute;
    width: 280px;
    height: 280px;
    left: 580px;
    top: 117px;
    background: url(../../public/logo/sarannut.jpg);
    background-size: cover;
}

.line-2mem {
    position: absolute;
    width: 300px;
    height: 0px;
    left: 570px;
    top: 417px;
    border: 3px solid #A2B59F;
}

.image-3mem { 
    position: absolute;
    width: 280px;
    height: 280px;
    left: 1035px;
    top: 117px;
    background: url(../../public/logo/kittiphat.jpg);
    background-size: cover;
}

.line-3mem {
    position: absolute;
    width: 300px;
    height: 0px;
    left: 1025px;
    top: 417px;
    border: 3px solid #A2B59F;
}